 body {
   background: black;
 }
 
 .jumbotron {
   position: relative;
   background: black;
   width: 100%;
   height: 100%;
   background-size: cover;
   overflow: hidden;
 }
 
 @media (max-width: 991px) {
   .navbar-header {
     float: none;
   }
   .navbar-toggle {
     display: block;
   }
   .navbar-collapse {
     border-top: 1px solid transparent;
     box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
   }
   .navbar-collapse.collapse {
     display: none!important;
   }
   .navbar-nav {
     float: none!important;
     margin: 7.5px -15px;
   }
   .navbar-nav>li {
     float: none;
   }
   .navbar-nav>li>a {
     padding-top: 10px;
     padding-bottom: 10px;
   }
   .navbar-text {
     float: none;
     margin: 20px 0;
   }

   
   .navbar-collapse.collapse.in {
     display: block!important;
   }
   .collapsing {
     overflow: hidden!important;
   }
 }
 
 .smaller-image {
   width: 200px;
 }
 
 
 .img-center {
   display: block;
   margin: 0 auto;
 }
 
 .navbar {
   background: none;
 }
 
 #space {
   height: auto;
   width: auto;
   max-width: 900px;
   max-height: 900px;
   display: block;
   margin: 0 auto;
 }
 
 .tinted {
   opacity: 0.4;
 }
 
 div {
   font-family: sans-serif;
   font-size: 10px;
 }
 
 h2 {
   font-size: 22px;
   color: #C0C0C0 !important;
 }
 
 p {
   font-size: 20px;
   color: #C0C0C0 !important;
 }

.image {
  position: relative;
  width: 100%;
}

h1 {
  position: absolute;
  top: 200px;
  left: 70px;
  width: 100%;
  color: #C0C0C0 !important;
  
}